// Rofi colors for h4ck3r

* {
    font: "JetBrainsMono NF Bold 9";
    background: #0c1018;
    bg-alt: #1B2333;
    background-alt: #0c1018E0;
    foreground: #1947e0;
    selected: #1B2333;
    active: #00fa5c;
    urgent: #4145b0;

    img-background: url("~/.config/bspwm/rices/h4ck3r/rofi.webp", width);
}
